@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  background: #e0e2e2;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  height: 100px;
}
ul {
  list-style: none;
  padding: 0;
  color: black;
  gap: 1em;
}
li,
a {
  gap: 1em;
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5;
  color: black;
}

.h1font {
  font-size: 45px;
  margin-bottom: 32px;
  color: black;
  font-weight: bold;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__wapper {
  display: flex;
  align-items: center;
}
.navList {
  display: flex;
}
.navItem {
  margin: 28px;
}
.navImg {
  height: 1.6em;
  padding: 50;
  margin-right: 75px;
}
.btn {
  border: none;
  border-radius: 7%;
  cursor: pointer;
  margin: 18px;
  color: black;
}
.btn-primary {
  background-color: #115277;
  color: white;
  padding: 12px 2em;
}
/*=======Header======*/
header {
  min-height: calc(100vh - 70px);
  padding: 20px;
  display: flex;
  align-items: center;
}
.subheader {
  font-size: 23px;
  margin: 16px 0 0px;
}
.btn-secondary {
  background-color: #115277;
  color: white;
  padding: 15px 2em;
  margin: 44px 0;
  cursor: pointer;
}
.headerImg {
  position: relative;
  right: 200px;
}
.i-right {
  flex: 1;
}
.i-left {
  flex: 1;
  padding: 6rem;
  max-width: 57rem;
}
.headerImg--larger {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*=====Summary====*/
.summary__container {
  align-items: center;
  display: flex;
  background-color: #dbdbdb;
  justify-content: center;
  border-radius: 4px;
  padding: 45px;
}

.summary__row {
  background-color: #dbdbdb;
}

.summary__row h1 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 20px 0px 10px;
  background-color: #dbdbdb;
}

.summary__row h2 {
  text-align: center;
  font-size: 18px;
  margin: 0px 0px 10px;
  background-color: #dbdbdb;
}
.summary__desc{
  display: flex;
  padding: 0 15px;
  background-color: #dbdbdb;
}
.summary__img{
  flex: 1;
  margin-right: 23px;
  padding: 16px;
  border-radius: 7px;
  background-color: #dbdbdb;
}
.summary__sub{
  flex: 1;
  background-color: #dbdbdb;
}
.summary__sub h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0px 10px;
  background-color: #dbdbdb;
}
.summary__sub p {
  line-height: 2rem;
  font-size: 18px;
  margin: 0px 0px 10px;
  background-color: #dbdbdb;
}
.summary__subjects {
  font-size: 18px;
  margin: 0px 0px 25px;
  padding: 0px 32px 0px 0px;
  background-color: #dbdbdb;
}
.summary__subjects li {
  font-size: 18px;
  padding: 8px 0px;
  background-color: #dbdbdb;
}

.imgTest{
  background-color: #dbdbdb;
}

.btn-thrid{
  background-color: #115277;
  color: white;
  padding: 12px;
  border-radius: 9%;
  cursor: pointer;
}

/*=====Study====*/
.s-right {
  flex: 1;
  padding: 6rem;
  max-width: 57rem;
}
.s-left {
  flex: 1;
}